# Covid19 Impact on K-12 Education
By Megan Nalani Chun  
Last modified November 2020

## Motivation and Problem Statement
The children of today will be the decision makers of tomorrow and their education will help determine what those decisions will be. The Covid19 pandemic has changed daily normal activity drastically for people around the world and some areas of society have been impacted more than others. The focus of this study will be on K-12 education during Covid19 since the pandemic and lack of national government guidance has forced school districts to implement varying policies such as those in the data section below. I hope to learn the following:
- How much school did students miss?
- Under what factors is there a significant difference in the amount of school missed? If there was a similar pandemic, would early implementation of certain policies allow students to have a better continued education? 
- Do school districts with more income have more access to the internet? And are these districts more likely to have an online policy?

## Data 
This analysis will be scoped to K-12th grade students enrolled in public schools across the United States. The following datasets will be used because of their completeness, trustworthiness, and accessibility in addition to their contents. Licensing and data source information can be found in the [readme](https://github.com/NalaniKai/data-512-final/blob/main/README.md).

Combining these datasets by school districts and counties will enable the research questions to be explored.

### Covid19 K-12 Education Data by MCH Strategic Data
This dataset has the following information for school districts in the US for the 2020-2021 school year:
- Enrollment 
- School open date 
- Teaching methods (online, on premise, etc)
- Sports participation 
- Online instruction increase
- Network investment
- Hardware investment
- Staff mask policy
- Student mask policy
- Student illness return policy
- Student isolation area 
- School temporary shutdown 

Data source: Covid19 K-12 Education Data by MCH Strategic Data. Compiled from public federal, state, and local school districts information and media updates. Go to the [Main page](https://www.mchdata.com/covid19/schoolclosings), scroll down, make a free account, and press the "download list of districts" button. Select subscribe and sign up for free subscription to download the dataset. No credit card information is needed. [covid-data.csv](https://github.com/NalaniKai/data-512-final/tree/main/Data/Covid19_K-12_Education)

Licensing: [MCH 2019 Standard Licensing Stipulations and Conditions Agreement](https://www.mchdata.com/about/terms-conditions)

### Demographic Data from the Institute of Education Sciences
The following demographic data was pulled from this dataset for all school districts in the US:
- Race 
- Income
- Computer & internet availability 
- School enrollment

Data source: Education Demographic and Geographic Estimates. National Center for Education Statistics. Institute of Education Sciences.   
- [Dataset: ACS 2014-2018 Profile](https://nces.ed.gov/programs/edge/TableViewer/acsProfile/2018)  
- Geography: All Districts  
- Population: Relevant Children  
- Tables:          
        - CDP02.2 SCHOOL ENROLLMENT [CDP02.2_102_USSchoolDistrictAll_111231815433.txt](https://github.com/NalaniKai/data-512-final/blob/main/Data/Demographics/CDP02.2_102_USSchoolDistrictAll_111231815433.txt)  
        - CDP02.11 COMPUTERS AND INTERNET USE [CDP02.11_102_USSchoolDistrictAll_111233642475.txt](https://github.com/NalaniKai/data-512-final/blob/main/Data/Demographics/CDP02.11_102_USSchoolDistrictAll_111233642475.txt)  
        - CDP03.2 INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) [CDP03.2_102_USSchoolDistrictAll_111234614792.txt](https://github.com/NalaniKai/data-512-final/blob/main/Data/Demographics/CDP03.2_102_USSchoolDistrictAll_111234614792.txt)  
        - CDP05.2 RACE [CDP05.2_102_USSchoolDistrictAll_11123448541.txt](https://github.com/NalaniKai/data-512-final/blob/main/Data/Demographics/CDP05.2_102_USSchoolDistrictAll_11123448541.txt)  

Licensing: [Open Data Policy](https://digital.gov/open-data-policy-m-13-13/) 

### Johns Hopkins University COVID-19 Data
This dataset has the daily Covid19 case counts by county and is continually being updated.

Data source: COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. [csse_covid_19_time_series](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/). [time_series_covid19_deaths_US.csv](https://github.com/NalaniKai/data-512-final/tree/main/Data/Covid19_CasesByCounty)

Licensing: [Public Domain U.S.- Johns Hopkins University Center for Systems Science and Engineering. [Creative Commons Attribution 4.0 International (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/deed.ast)

### Intermediary Data Source for Covid19 Data Sources
This dataset will be used to join the Covid19 school district data to the Covid19 case count data.

Data source: United States Census Bureau [School Districts and Associated Counties](https://www.census.gov/programs-surveys/saipe/guidance-geographies/districts-counties.html). [sdlist-19.xls](https://github.com/NalaniKai/data-512-final/tree/main/Data/County_SchoolDistrict_Intermediary)

Licensing: [Public Domain U.S. Government](https://www.usa.gov/government-works)

## Unknowns & Dependencies 
There are a couple dependencies and unknowns that will need to be checked: 
- the percent of matches when joining the above datasets by their school district IDs and county codes
- the amount of missing data

## Research questions and/or hypotheses

The overarching research question for this analysis is: What is the impact of Covid19 on school closures and teaching methods for K-12 students across the US? How does this differ for students based on race, income, and computer/internet access?

Hypotheses that will be explored include:
- School districts that have more students with access to computers and internet are more likely to have online learning teaching methods. 
- Students in poorer school districts with more racial minorities have seen the most school closures. 
- School districts implementing on-premise policies around masks, sports, returning from illness, and isolation have the least amount of school closures and most amount of on premise learning.
- Counties with stricter school closures, online learning, and on campus protection policies will have a lower percent of Covid19 cases. 

Data exploration will also take into account the number of students in the school district along with the number of Covid19 cases per county which are factors also influencing school policies and education. 

## Background/Related Work

According to the American Society for Microbiology, the decisions for how to structure K-12 learning during Covid19 is the responsibility of each school district or private institution [ASM article](https://asm.org/Articles/2020/August/A-National-Crisis-K-12-Education-During-the-COVID). The ASM article also points out that "Centers for Disease Control and Prevention (CDC) data show the 5-17 year old age group has the highest SARS-CoV-2 test positivity rate of any age group" which means K-12 students can easily spread Covid19 to others in their communities. In the case of the annual flu, "The Director of the CDC, Robert Redfield, has been warning since late April about the specter of a second wave of coronavirus during flu season. A potential driver of this second wave could be K-12 students bringing 1 or both viruses home to their care providers, who are more vulnerable to these pathogens." Since schools are expected to be a hot spot for spreading Covid19, one of the hypotheses my analysis will investigate is whether county Covid19 cases tend to be better or worse depending on measures taken by the school districts. In preparation for school openings, ASM made a list of considerations for school distrincts to plan for such as new staff training, school bus policies, policies around student lockers, and additional hand washing stations many of which will not be in scope for this analysis. 

A similar analysis on Covid19 impact on K-12 students was performed by the Pew Research Center where data was collected via surveys from parents who were asked a series of questions about their children and their education during this time. According to this study, "parents of children attending school fully in person are ... less likely to be concerned about their education" but these parents also are concerned about their children's exposure to covid19 [Pew Research Center article](https://www.pewsocialtrends.org/2020/10/29/most-parents-of-k-12-students-learning-online-worry-about-them-falling-behind/). As a parent, this is an understandable concern and logically it would make sense for Covid19 to spread more rapidly with in person classes. To test this hypothesis, part of my analysis will investigate whether counties with higher in person schooling correlates with having higher Covid19 case counts. The Pew Research Center study also showed that lower income parents reported higher percentage of online only instruction and 72% stated they were concerned about their children falling behind in school whereas only 55% of upper income parents said they were concerned. In response to these findings, my analysis will investigate the hypothesis that lower income school districts are more likely to have online learning policies. Further, my analysis will also combine the MCH Covid19 data and the US government education statistics to determine the percent of students with computer and internet access especially in school districts with online learning policies. 

## Analysis Methodology

This study will leverage data visualizations, correlation calculations, and logistic regression to investigate the research questions and hypotheses stated above. 

The distributions will be plotted and the data summaries will be compared for school district policies, Covid19 cases, and demographics across school districts. These plots and summaries will provide insight into data skew and any outliers. 

The correlations and p-values for the percent of Covid19 cases per county and the following in person school district policies will be calculated to determine which policies have the most impact on Covid19 cases. The results will also help inform whether implementing certain policies early could potentially be more useful at the start of future pandemics. This approach was selected since the data is easy to interpret and plot via a visualization and comparing the correlation value between these policies is straightforward. 
- Sports participation
- Staff mask policy
- Student mask policy
- Student illness return policy
- Student isolation area 

Logistic regression will be used to investigate which of the following attributes are most correlated with school closures, online learning, in person learning, and hardware/network investments. This approach was selected because each of the predictor variables can be split into binary labels. Moreover, the features are able to be easily compared which will help determine whether demographics play a significant role in the types of learning and investment students receive. 
- race
- household income of students
- access to computers/internet 
- % of Covid19 cases per county 
- Number of students enrolled

## Step 1: Data Preparation

To investigate the hypotheses above, this section prepares the data into the following two dataframes for analysis:  

      1. Covid K-12 Policies with Covid19 Case Counts  
      2. Covid K-12 Policies with Demographics  


First, the pandas library will be used to read in the data files and the to_int function will help convert join keys to the same datatype.

In [275]:
import pandas as pd

def is_integer(n):
    try:
        float(n)
    except ValueError:
        return False
    else:
        return float(n).is_integer()

The dataframe below has the Covid19 policies for K-12th grade students made by each school district in the US which will be joined to the Covid19 case count data and the demographics data. The datatype for DistrictNCES is changed to an integer to have matching join keys with the demographics data.

In [278]:
#US k-12th grade covid19 education policies by county
k_12_education_df = pd.read_csv("Data/Covid19_K-12_Education/covid-data.csv")

#field to join with demographics 
k_12_education_df['DistrictNCES'] = k_12_education_df['DistrictNCES'].apply(lambda f: int(f) if is_integer(f) else -1) 
k_12_education_df.head()

,SchoolYear,DistrictNCES,DistrictID,DistrictName,Control,PhysicalCity,PhysicalState,Enrollment,OpenDate,TeachingMethod,...,OnlineInstructionIncrease,NetworkInvestment,HardwareInvestment,StaffMaskPolicy,StudentMaskPolicy,StudentIllnessReturnPolicy,StudentIsolationArea,SchoolTemporaryShutdown,ParentOptOutClassroomTeaching,LastVerifiedDate
0,2020-2021,200004,888659,Yupiit School District,Public,Akiachak,AK,463.0,08/12/2020,On Premises,...,No,No,No,Pending,Pending,Pending,Pending,Pending,Pending,08/12/2020
1,2020-2021,200010,888610,Aleutian Region School District,Public,Anchorage,AK,27.0,09/08/2020,On Premises,...,Unknown,Yes,Yes,Required for all staff,Required for all students,Unknown,Unknown,Never closed,Unknown,10/23/2020
2,2020-2021,200180,888658,Anchorage School District,Public,Anchorage,AK,48347.0,08/25/2020,Hybrid,...,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Yes,10/26/2020
3,2020-2021,200800,888657,Chugach School District,Public,Anchorage,AK,517.0,08/17/2020,Online Only,...,Yes,Unknown,Unknown,Required for all staff,Required for all students,Yes,Yes,Closed 6-14 days,Yes,10/29/2020
4,2020-2021,200730,888599,Chatham School District,Public,Angoon,AK,156.0,10/05/2020,Hybrid,...,Unknown,Pending,Yes,Required for all staff,Required for all students,Yes,Yes,Closed 6-14 days,Yes,10/22/2020


### To get the Covid K-12 Policies with Covid19 Case Counts...
First, get the Covid19 case counts by county in the US between September 1, 2020 - November 17, 2020. This date range was selected to best match the Fall school policies for 2020. Extra data columns are removed.

In [279]:
#New confirmed cases between September 1, 2020 - November 17, 2020 
covid_cases = pd.read_csv("Data/Covid19_CasesByCounty/time_series_covid19_deaths_US.csv")      
covid_cases["Confirmed_Cases_Sept1_Nov17"] = covid_cases["11/17/20"] - covid_cases["9/1/20"]    

#remove extra columns
keep_cols = ["UID", "Admin2", "Province_State", "Population", "Confirmed_Cases_Sept1_Nov17"]    
covid_cases_cols = covid_cases.columns.values
remove_cols = [c for c in covid_cases_cols if c not in keep_cols]                               
covid_cases.drop(columns=remove_cols, axis=1, inplace=True)                                     
covid_cases.head()

        UID   Admin2 Province_State  Population  Confirmed_Cases_Sept1_Nov17
0  84001001  Autauga        Alabama       55869                           14
1  84001003  Baldwin        Alabama      223234                           46
2  84001005  Barbour        Alabama       24686                            2
3  84001007     Bibb        Alabama       22394                           10
4  84001009   Blount        Alabama       57826                           23

Then, get the UID containing the state and county and convert to an int.

In [280]:
#extract the state-county UID to join with the intermediary stream
covid_cases["UID_Counties"] = covid_cases["UID"].apply(lambda f: 0 if math.isnan(f) else str(f))
covid_cases["UID_Counties"] = covid_cases["UID_Counties"].apply(lambda f: f[3:] if len(f) == 8 else -1)
covid_cases["UID_Counties"] = covid_cases["UID_Counties"].apply(lambda f: int(f))
covid_cases = covid_cases[covid_cases["UID_Counties"] > -1]
covid_cases.head()

,UID,Admin2,Province_State,Population,Confirmed_Cases_Sept1_Nov17,UID_Counties
0,84001001,Autauga,Alabama,55869,14,1001
1,84001003,Baldwin,Alabama,223234,46,1003
2,84001005,Barbour,Alabama,24686,2,1005
3,84001007,Bibb,Alabama,22394,10,1007
4,84001009,Blount,Alabama,57826,23,1009

Next, read in the intermediary file which has county and school district IDs. Also, combine the state and county FIPS to get the state and county UID and convert to int to join the datasets.

In [281]:
#combine the state and county FIPS to join with the covid cases dataset 
df_counties = pd.read_csv("Data/County_SchoolDistrict_Intermediary/sdlist-19.csv", encoding='gbk')
df_counties["FIPS"] = df_counties.apply(lambda r: str(r["State FIPS"]) + "0" + str(r["County FIPS"]) if len(str(r["State FIPS"])) == 1 else str(r["State FIPS"]) + str(r["County FIPS"]), axis=1)
df_counties = df_counties.drop(columns=["State FIPS", "County FIPS"], axis=1)

#convert to int
df_counties['FIPS'] = df_counties['FIPS'].apply(lambda f: int(f) if is_integer(f) else -1)
df_counties = df_counties[df_counties['FIPS'] > -1]
df_counties.head()

,State Postal Code,District ID Number,School District Name,County Names,FIPS
0,AL,190,Alabaster City School District,Shelby County,10117
1,AL,5,Albertville City School District,Marshall County,1095
2,AL,30,Alexander City City School District,Tallapoosa County,10123
3,AL,60,Andalusia City School District,Covington County,1039
4,AL,90,Anniston City School District,Calhoun County,1015

Next, enrich the covid19 case count data with school districts.

In [282]:
#get the number of confirmed covid19 cases by school district per county 
covid_cases_county = pd.merge(covid_cases, df_counties, how='inner', left_on='UID_Counties', right_on='FIPS')
covid_cases_county.head()

,UID,Admin2,Province_State,Population,Confirmed_Cases_Sept1_Nov17,UID_Counties,State Postal Code,District ID Number,School District Name,County Names,FIPS
0,84001011,Bullock,Alabama,10101,6,1011,AL,480,Bullock County School District,Bullock County,1011
1,84001013,Butler,Alabama,19448,5,1013,AL,510,Butler County School District,Butler County,1013
2,84001015,Calhoun,Alabama,113605,45,1015,AL,90,Anniston City School District,Calhoun County,1015
3,84001015,Calhoun,Alabama,113605,45,1015,AL,540,Calhoun County School District,Calhoun County,1015
4,84001015,Calhoun,Alabama,113605,45,1015,AL,1860,Jacksonville City School District,Calhoun County,1015

Finally, join the covid19 case count data with the dataset that has the K-12 school district policies and remove extra columns.

In [283]:
#get the number of confirmed covid19 cases per school district with their 2020-2021 school year policies 
covid_cases_schools_df = pd.merge(k_12_education_df, covid_cases_county, how='inner', left_on='DistrictName', right_on='School District Name')
remove_cols = ['SchoolYear', 'DistrictID', 'OpenDate', 'LastVerifiedDate', 'UID', 'Admin2', 'Province_State',
'UID_Counties', 'State Postal Code', 'District ID Number', 'School District Name', 'County Names', 'FIPS']
covid_cases_schools_df.drop(columns=remove_cols, axis=1, inplace=True)
covid_cases_schools_df.head()

,DistrictNCES,DistrictName,Control,PhysicalCity,PhysicalState,Enrollment,TeachingMethod,SportsParticipation,OnlineInstructionIncrease,NetworkInvestment,HardwareInvestment,StaffMaskPolicy,StudentMaskPolicy,StudentIllnessReturnPolicy,StudentIsolationArea,SchoolTemporaryShutdown,ParentOptOutClassroomTeaching,Population,Confirmed_Cases_Sept1_Nov17
0,200004,Yupiit School District,Public,Akiachak,AK,463.0,On Premises,No,No,No,No,Pending,Pending,Pending,Pending,Pending,Pending,18386,0
1,200760,Kuspuk School District,Public,Aniak,AK,385.0,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,18386,0
2,200001,Lower Kuskokwim School District,Public,Bethel,AK,4310.0,Unknown,Unknown,Unknown,Yes,Yes,Required for all staff,Required for all students,Unknown,Unknown,Unknown,Yes,18386,0
3,200770,Denali Borough School District,Public,Healy,AK,950.0,On Premises,No,No,Yes,No,Required for all staff,Required for all students,Yes,Yes,Never closed,Yes,2097,0
4,200520,Iditarod Area School District,Public,McGrath,AK,330.0,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,18386,0

### To get the Covid K-12 Policies with Demographics...
 
First, define the function below to read in the demographic data, extract the columns of interest, and convert the LEAID to an int for joining with the K-12 Covid19 policy data. Also, note the demographic data has estimates so not all rows will add up to 100%.

In [307]:
def clean_demographic_data(df_dict, data_file):
    df = pd.read_csv(data_file, sep='|') 
    keep = ["LEAID"]
    keep.extend(df_dict.values())
    for k,v in df_dict.items():
        df[v] = df[k]    

    current_cols = df.columns.values
    remove_cols = [col for col in current_cols if col not in keep]
    df.drop(columns=remove_cols, axis=1, inplace=True)
    df['LEAID'] = df['LEAID'].apply(lambda f: int(f) if is_integer(f) else -1)
    return df

Using the school enrollment dataset, get the number of students in kindergarten, 1st - 8th grade, and 9th - 12th grade per school district.

In [316]:
school_enrollment_data_file = "Data/Demographics/CDP02.2_102_USSchoolDistrictAll_111231815433.txt"
school_enrollment_dict = {"CDP02.2_12est": "# Kindergarten", "CDP02.2_13est": "# 1st-8th", "CDP02.2_14est": "9th-12th"}

school_enrollment_df = clean_demographic_data(school_enrollment_dict, school_enrollment_data_file)
school_enrollment_df["# K-12"] = school_enrollment_df["# Kindergarten"] + school_enrollment_df["# 1st-8th"] + school_enrollment_df["9th-12th"]
school_enrollment_df.head()

     LEAID  # Kindergarten  # 1st-8th  9th-12th  # K-12
0  2700106              75        555       255     885
1  4500690             395       2185      1115    3695
2  5500030              55        530       175     760
3  4807380              10        140        70     220
4  2800360             130       1115       310    1555

Using the dataset with computer and internet information, get the percent of households with computer and internet access per school district.

In [314]:
computers_internet_data_file = "Data/Demographics/CDP02.11_102_USSchoolDistrictAll_111233642475.txt"
computers_internet_dict = {"CDP02.11_93pct": "% with Computer", "CDP02.11_94pct": "% with Internet"}

computers_internet_df = clean_demographic_data(computers_internet_dict, computers_internet_data_file)
computers_internet_df.head()

     LEAID  % with Computer  % with Internet
0  2700106            100.0             88.4
1  4500690             94.9             87.0
2  5500030             95.7             93.5
3  4807380            100.0             91.3
4  2800360             91.7             84.4

Using the dataset with household income, get the percent of households by income band for each school district.

In [311]:
income_data_file = "Data/Demographics/CDP03.2_102_USSchoolDistrictAll_111234614792.txt"
income_dict = {"CDP03.2_6pct": "<$10k", "CDP03.2_7pct": "$10k-$15k", "CDP03.2_8pct": "$15k-$25k", "CDP03.2_9pct": "$25k-$35k", 
                "CDP03.2_10pct": "$35k-$50k", "CDP03.2_11pct": "$50k-$75k", "CDP03.2_12pct": "$75k-$100k", "CDP03.2_13pct": "$100k-$150k", "CDP03.2_14pct": "$150k-$200k", "CDP03.2_15pct": "$200k<"}

income_df = clean_demographic_data(income_dict, income_data_file)
income_df.head()

,LEAID,<$10k,$10k-$15k,$15k-$25k,$25k-$35k,$35k-$50k,$50k-$75k,$75k-$100k,$100k-$150k,$150k-$200k,$200k<
0,2700106,0.7,1.8,5.4,11.6,11.6,19.6,22.3,17.9,5.4,4.5
1,4500690,10.6,6.3,13.5,11.8,11.6,20.2,9.6,10.6,5.5,0.2
2,5500030,3.2,6.5,3.2,12.9,22.6,21.5,14.0,10.8,5.4,0.9
3,4807380,0.0,0.0,0.0,0.0,13.0,13.0,8.7,34.8,17.4,13.0
4,2800360,6.7,8.3,7.8,8.9,13.3,23.3,12.8,10.6,3.9,4.4

In [ ]:
Using the dataset with a breakdown of race, get the percent of people who are white, black/African American, Native American, Asian, and other per school district. Combine Pacific Islander with the other category. Note, the population percents do not add up to 100% because of people who are multiracial.

In [309]:
race_data_file = "Data/Demographics/CDP05.2_102_USSchoolDistrictAll_11123448541.txt"
race_dict = {"CDP05.2_45pct": "White", "CDP05.2_46pct": "Black_AfricanAmerican", "CDP05.2_47pct": "NativeAmerican", "CDP05.2_48pct": "Asian", 
                "CDP05.2_49pct": "PacificIslander", "CDP05.2_50pct": "Other"}

race_df = clean_demographic_data(race_dict, race_data_file)
race_df["Other"] = race_df["PacificIslander"] + race_df["Other"]
race_df.drop(columns=["PacificIslander"], axis=1, inplace=True)
race_df.head()

     LEAID  White  Black_AfricanAmerican  NativeAmerican  Asian  Other
0  2700106   99.5                    0.4             0.0    0.4    0.4
1  4500690   71.3                   33.6             0.2    0.5    0.5
2  5500030   91.1                    2.1             0.4    0.4    8.4
3  4807380  100.0                    0.0             0.0    0.0    0.0
4  2800360   26.2                   74.3             2.6    0.0    0.0

Combine the school enrollment, income, race, and computer/internet availability demographics with the policies for Covid19 per school district.

In [320]:
k_12_education_demographics_df = pd.merge(k_12_education_df, school_enrollment_df, how='inner', left_on='DistrictNCES', right_on='LEAID')
k_12_education_demographics_df = pd.merge(k_12_education_demographics_df, race_df, how='inner', left_on='DistrictNCES', right_on='LEAID')
k_12_education_demographics_df = pd.merge(k_12_education_demographics_df, income_df, how='inner', left_on='DistrictNCES', right_on='LEAID')
k_12_education_demographics_df = pd.merge(k_12_education_demographics_df, computers_internet_df, how='inner', left_on='DistrictNCES', right_on='LEAID')

k_12_education_demographics_df.head()

,SchoolYear,DistrictNCES,DistrictID,DistrictName,Control,PhysicalCity,PhysicalState,Enrollment,OpenDate,TeachingMethod,...,$25k-$35k,$35k-$50k,$50k-$75k,$75k-$100k,$100k-$150k,$150k-$200k,$200k<,LEAID_y,% with Computer,% with Internet
0,2020-2021,200004,888659,Yupiit School District,Public,Akiachak,AK,463.0,08/12/2020,On Premises,...,13.2,10.5,26.3,7.9,10.5,0.0,0.0,200004,86.8,52.6
1,2020-2021,200180,888658,Anchorage School District,Public,Anchorage,AK,48347.0,08/25/2020,Hybrid,...,4.9,7.3,17.2,14.9,22.4,12.8,11.9,200180,98.4,92.9
2,2020-2021,200730,888599,Chatham School District,Public,Angoon,AK,156.0,10/05/2020,Hybrid,...,5.3,13.3,13.3,20.0,13.3,5.3,5.3,200730,93.3,86.7
3,2020-2021,200760,888660,Kuspuk School District,Public,Aniak,AK,385.0,NaN,Pending,...,14.6,17.1,19.5,9.8,12.2,2.0,2.0,200760,90.2,73.2
4,2020-2021,200001,888627,Lower Kuskokwim School District,Public,Bethel,AK,4310.0,09/08/2020,Unknown,...,7.7,13.3,16.4,10.0,16.7,8.2,4.6,200001,93.3,82.1

Only keep final columns for analysis.

In [324]:
final_cols = ['DistrictName', 'PhysicalState', 'Enrollment', 'TeachingMethod', 'SportsParticipation', 'OnlineInstructionIncrease', 'NetworkInvestment', 'HardwareInvestment', 
'StaffMaskPolicy', 'StudentMaskPolicy', 'StudentIllnessReturnPolicy', 'StudentIsolationArea', 'SchoolTemporaryShutdown', 'ParentOptOutClassroomTeaching', 
'# Kindergarten', '# 1st-8th', '9th-12th', '# K-12', 'White', 'Black_AfricanAmerican', 'NativeAmerican', 'Asian', 'Other', '<$10k', '$10k-$15k', 
'$15k-$25k', '$25k-$35k', '$35k-$50k', '$50k-$75k', '$75k-$100k', '$100k-$150k', '$150k-$200k', '$200k<', '% with Computer', '% with Internet']

cols = k_12_education_demographics_df.columns.values
remove_cols = [col for col in cols if col not in final_cols]
k_12_education_demographics_df.drop(columns=remove_cols, axis=1, inplace=True)
k_12_education_demographics_df.head()

,DistrictName,PhysicalState,Enrollment,TeachingMethod,SportsParticipation,OnlineInstructionIncrease,NetworkInvestment,HardwareInvestment,StaffMaskPolicy,StudentMaskPolicy,...,$15k-$25k,$25k-$35k,$35k-$50k,$50k-$75k,$75k-$100k,$100k-$150k,$150k-$200k,$200k<,% with Computer,% with Internet
0,Yupiit School District,AK,463.0,On Premises,No,No,No,No,Pending,Pending,...,15.8,13.2,10.5,26.3,7.9,10.5,0.0,0.0,86.8,52.6
1,Anchorage School District,AK,48347.0,Hybrid,Unknown,Pending,Pending,Pending,Pending,Pending,...,4.8,4.9,7.3,17.2,14.9,22.4,12.8,11.9,98.4,92.9
2,Chatham School District,AK,156.0,Hybrid,No,Unknown,Pending,Yes,Required for all staff,Required for all students,...,13.3,5.3,13.3,13.3,20.0,13.3,5.3,5.3,93.3,86.7
3,Kuspuk School District,AK,385.0,Pending,Pending,Pending,Pending,Pending,Pending,Pending,...,7.3,14.6,17.1,19.5,9.8,12.2,2.0,2.0,90.2,73.2
4,Lower Kuskokwim School District,AK,4310.0,Unknown,Unknown,Unknown,Yes,Yes,Required for all staff,Required for all students,...,11.3,7.7,13.3,16.4,10.0,16.7,8.2,4.6,93.3,82.1

The following two dataframes were created in this data preparation section and will be used in the analysis:
- covid_cases_schools_df which has the Covid19 policies per school district with the confirmed case counts for Covid19 per county 
- k_12_education_demographics which has the Covid19 policies per school district with race, income, school enrollment, and computer and internet availability

In [ ]:
## Step 2: Data Analysis